.hand {
    margin-bottom: 5rem;

    &__title {
        display: flex;
        align-items: center;
    }

    &__icon-container {
        width: 1.5rem;
        margin-right: 1rem;
    }

    &__name {
        font-size: 2.5rem;
    }

    &__description {
        margin: 1rem 0;
        font-size: 1.6rem;
    }

    &__cards {
        width: 100%;
        max-width: 60rem;
        display: flex;
    }

    &__card {
        flex: 1 0 0;
        padding-right: 0.5rem;

        &:last-child {
            padding-right: 0;
        }
    }
}
