@import './variables';

.home {
    background-color: $poker-green;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        flex: 0 1 0;
    }

    &__content {
        flex: 1 0 0;
    }

    &__footer {
        flex: 0 1 0;
    }
}
